
<h1>All Clients:</h1>


<%= form_tag clients_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search By Client", name: nil %>
  </p>
<% end %>

<% @clients.each do |client| %>
  <%= render partial: 'client', locals: {client: client} %>
<% end %>
