
<h1>All Clients:</h1><br />


<% @clients.each do |client| %>
	<p><%= link_to client.full_name, client_path(client)%></p>
	<p>Number of Appointments: <%= client.facials.count %></p>
	<div class="client">
    <%= button_to "Delete Client", client, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
