<h1><%= @client.full_name%></h1>
<!--show all client's appointments-->




<h3><%= pluralize(@client.facials.count, 'Facial Appointment') %></h3>
<ul>
  <% @client.facials.each do |f| %>
    <li><%= link_to f.facial_date, facial_path(f) %></li>
  <% end %>
</ul>
