<h1>All Estheticians</h1>


  <%@estheticians.each do |esthetician|%>
    <p><%=esthetician.email%></p>
    <div class="esthetician">
      <%= link_to "Delete Esthetician", esthetician, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <%end%>
