<h1>All Estheticians</h1>


  <%@estheticians.each do |esthetician|%>
    <p><%=link_to esthetician.email, esthetician_path(esthetician)%></p>

    <%if esthetician == current_esthetician %>
      <div class="esthetician">
        <%= button_to "Delete Esthetician", esthetician, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      <%end%>
  <%end%>
